.heroSection {
  max-width: 480px;
  height: 400px;
  margin: 0 auto 60px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../../public/mob-hero-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 60px;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../../public/tab-hero-bg.jpg);
  }
  @media screen and (min-width: 1280px) {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto 94px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../../public/desk-hero-bg.jpg);
  }
}

.heroSectionTitle {
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: 42px; /* 161.538% */
  letter-spacing: 1.56px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    width: 360px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 44px;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
    width: 696px;
  }
}
.heroSectionBtn {
  padding: 10px 24px;
  background: #2196f3;

  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  transition-property: background-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.heroSectionBtn:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.heroSectionOwerlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  @media screen and (min-width: 1280px) {
    align-items: center;
  }
}

.heroSectionModal {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  max-width: 450px;
  padding: 40px;
  background: #fff;
  border-radius: 4px;


  @media screen and (min-width: 1280px) {
    max-width: 528px;
  }
}
.heroSectionModalCloseBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.heroSectionModalCloseBtn:hover > svg {
  fill: #2196f3;
}
.heroSectionModalTitle {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  letter-spacing: 0.6px;
  margin-bottom: 12px;
  @media screen and (min-width: 1280px) {
    line-height: 20px;
  }
}

.heroSectionModalFormLabel {
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}
.heroSectionModalFormInput {
  font-size: 12px;
  width: 100%;
  padding: 11px 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  margin-bottom: 10px;
  resize: none;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.heroSectionModalFormInput:hover,
.heroSectionModalFormInput:focus {
  border-color: #2196f3;
}

.heroSectionModalFormChekboxWrap {
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
  margin: 10px 0 31px 0;
  width: 100%;
}
.heroSectionModalFormChekbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.heroSectionModalFormPolici {
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}
.heroSectionModalFormLink {
  color: #2196f3;
  text-decoration-line: underline;
}
.heroSectionModalFormBtn {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  color: #fff;

  display: block;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;

  transition-property: color, background-color, border-color,
    text-decoration-color, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.heroSectionModalFormBtn:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: #188ce8;
}
